 <% if @heart_day %>
 <div class="chart-box duck">
	<script>
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer", {
		theme: "theme1",//theme1
		title:{
			text: "Calories Burned by Intensity",
			fontFamily: 'Ubuntu',
			fontSize: 24,
			// fontColor: "#4d4d4d",
			fontWeight: 400,
			verticalAlign: "top"
		},
		animationEnabled: true,   // change to true
		data: [              
		{
			// Change type to "bar", "area", "spline", "pie",etc.
			type: "pie",
			indexLabelFontColor: "#4d4d4d", 
			indexLabelLineColor: "#4d4d4d",        
			indexLabelFontWeight: "bold",        
			indexLabelLineThickness: 1.25,        
			indexLabelPlacement: "outside",
			toolTipContent: "{y} cal",

			dataPoints: [
			<% if @heart_day.high != 0 %>
				{ label: "peak",  y: <%= @heart_day.high %>  },
			<% end %>
			<% if @heart_day.med != 0 %>
				{ label: "medium", y: <%= @heart_day.med %>, color: "#004080"  },
			<% end %>
			<% if @heart_day.low != 0 %>
				{ label: "low", y: <%= @heart_day.low %>, exploded: true, color: "#408000" },
			<% end %>
			<% if @heart_day.rest != 0 %>
				{ label: "at rest",  y: <%= @heart_day.rest %>, color: "#800080"  }
			<% end %>
			]
		}
		]
	});
	chart.render();
}
</script>
</head>
<body>
<div id="chartContainer" style="height: 285px; width: 100%; padding: 0px; margin: 0px;" class="chart-round"></div>
</script>
</div>
<% end %>