<div class="form-box ">
	<h3 class="create-heading">Create a New Playlist:</h3>
		<%= form_for :playlists, class: "form-inline" do |f| %>
		<div class="input-group">
      <input type="text" class="form-control txt">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" role="menu">
          Intensity
        </button>
        <div class="dropdown-menu">
          <option class="btn dropdown-item" value="high">High</option>
          <option class="btn dropdown-item" value="med">Med</option>
          <option class="btn dropdown-item" value="low">Low</option>
          <option class="btn dropdown-item" value="rest">Rest</option>
          <div role="separator" class="dropdown-divider"></div>
          <option class="btn dropdown-item" value="none">None</option>
        </div>
    <%= f.submit "Create", class: "btn btn-info btn-create" %>
    <% end %>
      </div>
    </div>
</div>

</div>
