<div class="navbar">
	<span class="nav-header">fit</span>
	<span class="nav2">BEAT</span>
	<span class="btn btn-sm r-align btn-warning-outline btn-logout">
		<%= link_to 'logout', '/logout' %>
	</span>
</div>