.backstretch {
  left: 0px; 
  top: 0px; 
  z-index: -999999; 
  margin: 0px; 
  padding: 0px;
  position: fixed; 
  overflow: hidden; 
  height: 100%; 
  width: 100%;
}

#backstretch1 {
  background: url(tatras-slovak.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#backstretch2 {
  background: url(treetops.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.login-box {
  border-radius: 25px;
  background-color: #00111a;
  opacity: 0.5;
  height: 200px;
  width: 500px;
  z-index: 90;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.login-solid {
  border-radius: 25px;
  opacity: 1;
  height: 200px;
  width: 500px;
  z-index: 100;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.login-blur {
  border-radius: 25px;
  background-color: #00111a;
  opacity: 0.5;
  height: 190px;
  width: 490px;
  z-index: 91;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  -o-filter: blur(8px);
  filter: blur(8px);
}

.login {
  text-align: center;
  margin-top: 35px;
}

.jump {
  margin-top: -15px;
}

.duck {
  margin-top: 15px;
}

.float {
  vertical-align: center;
}

.bump {
  margin-top: -5px;
}

.login-btn-text {
  font-size: 16px;
  /*font-family: "Gill Sans", Helvetica, sans-serif;*/
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
}

.welcome-title {
  font-size: 50px;
  font-weight: 400;
  color: #00b3b3;
  font-family: "Open Sans", sans-serif;
}

.btn-login-outline {
  border-color: white;
  background: transparent;
  color: white;
  border-width: 2px;
}

.btn-login-outline:hover, .btn-login-outline:focus, .btn-login-outline:active {
  border-color: #00b3b3;
}

.dash-box {
  border-radius: 25px;
  background-color: #00111a;
  opacity: .9;
  margin-top: 30px;
  height: 90%;
  z-index: 101;
  overflow-y: scroll;
}

/*.dash-blur {
  border-radius: 25px;
  background-color: #00111a;
  opacity: 1;
  margin-top: 30px;
  height: 90%;
  z-index: 100;
}*/

.r-align {
  float: right;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.hide {
  display: none;
}

.music-box {
  height: 85%;
  y-overflow: scroll;
}

.heart-box {
  height: 85%;
  y-overflow: scroll;
}


/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}


.heart-card {
  text-align: center;
  font-size: 24px;
  font-weight: 450;
  margin-top: 20px;
  margin-bottom: 60px;
}

#rate-rate {
  font-weight: 500;
}

#hvr-pulse {
  font-size: 28px;
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.heart-card:hover > #hvr-pulse {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: infinite;
  color: magenta;
}

.btn-success-outline:hover {
  background-color: transparent;
  border-color: #e6e6e6;
  color: #e6e6e6;
}

.card:hover {
  background-color: #f5f5f5;
  color: #555;
}

.chart-box {
   background: #fff;
    border: 1px solid #aaa;
    border-radius: 15px;
    padding: 20px;
    overflow: hidden;
}

